In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [5]:
s = pd.Series(data)

In [6]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
index = ['Linha' + str(i) for i in range(5)]

In [9]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [15]:
s = pd.Series(data = data, index = index) #Criando rótulos para linha

In [16]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [20]:
data = {'Linha' + str(i) : i + 1 for i in range(5)} #Criou um dicionário

In [21]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [22]:
s = pd.Series(data)

In [23]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [24]:
s1 = s + 2 # Somou 2 para cada linha do index

In [25]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [29]:
s2 = s + s1 #Soma-se os resultados de s + s1

In [27]:
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

In [30]:
data = [[1,2,3], [4,5,6], [7,8,9]]

In [31]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
df1 = pd.DataFrame(data)

In [34]:
df1 # Dataframe simples

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [36]:
index = ['Linha' + str(i) for i in range(3)]

In [37]:
index

['Linha0', 'Linha1', 'Linha2']

In [40]:
df1 = pd.DataFrame(data = data, index = index) # nomeando o índice

In [39]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [41]:
columns = ['Coluna' + str(i) for i in range(3)]

In [42]:
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [43]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [44]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9