In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdaesdaesdaesesda'))

In [3]:
s

0     a
1     s
2     d
3     a
4     e
5     s
6     d
7     a
8     e
9     s
10    d
11    a
12    e
13    s
14    e
15    s
16    d
17    a
dtype: object

## Mostra valores únicos de uma determinada coluna

In [7]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

### Mostra a quantidade de vezes que cada valor apareceu

In [8]:
s.value_counts()

a    5
s    5
d    4
e    4
dtype: int64

#### Importando csv aluguel

In [9]:
dados = pd.read_csv('Dados/aluguel.csv', sep = ';')

In [11]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [12]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64