# Relatório de Análise IV

In [1]:
## Seleções e Frequências

In [2]:
import pandas as pd

In [4]:
dados = pd.read_csv('Dados/aluguel_residencial.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [9]:
# Selecione somente os iméveis classificados com tipo 'Apartamento'
selecao = dados['Tipo'] == 'Apartamento'
selecao
n1 = dados[selecao].shape[0] #Shape me traz o registro ou seja, a quantidade de apartamentos apresentados no nosso db
n1

19532

In [16]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de condomínio' e 'Casa de Vila'
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] =='Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila') # para não haver
# erro, é preciso colocar entre parenteses
n2 = dados[selecao].shape[0]
n2

2212

In [17]:
# Selecione os imóveis classificados com área entre 60 e 100 metros quadrados, incluindo os limites
# área está entre 60 <= Area <= 100
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [19]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41

In [29]:
print(f"Nº imóveis classificados com tipo Apartamento são -> {n1}")
print(f"Nº imóveis classificados com tipos 'Casa', 'Casa de condomínio' e 'Casa de Vila' são -> {n2}")
print(f"Nº imóveis classificados com área entre 60 e 100 metros quadrados são -> {n3}")
print(f"Nº imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 são -> {n4}")

Nº imóveis classificados com tipo Apartamento são -> 19532
Nº imóveis classificados com tipos 'Casa', 'Casa de condomínio' e 'Casa de Vila' são -> 2212
Nº imóveis classificados com área entre 60 e 100 metros quadrados são -> 8719
Nº imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 são -> 41